@import "./menu.css";
body{
    background-color: lightgreen;
  
}

p,h1{
    width: 50%;
    background-color: lightcoral;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
}
section{
    width: 90%;
    height: 100px;
    background-color: green;
    margin: 0px auto;
    border:5px solid black;
}
